.header {
    background-color: #1c2B35;
    justify-content: space-between;
    display: flex;

    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    height: 80px;

}

nav.header a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
    /* padding-right: 100px; */


}

nav.header a:hover {
    color: chocolate;
}