.header {
    background-color: #103230f0;
    justify-content: space-between;
    display: flex;

    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    height: 80px;

    /* position: fixed; */
    /* top: 0; */

    /* z-index: 100; */

}

.imgx:hover {
    transform: translate(5px, 5px);
}

nav.header a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
    /* transform: translate(5px, 5px); */
    font-weight: 20px;
    font-size: 20px;
    /* padding-right: 100px; */


}

nav.header a:hover {
    color: rgb(216, 239, 8);
}

@media(max-width:600px) {
    nav {
        display: flex;
        flex-direction: column;
        width: auto;
    }
}